
.addUserStoryImageBackground{
   position: relative;
   height: 280px;
   width: 185px;
   border-radius: 12px;
   background-image: url("https://i.pinimg.com/originals/a4/96/c2/a496c2b6bc5d7cfe0e0674f6598c38ad.jpg");
   background-size:cover;
   margin: 0 10px;
  }

  .UserStoryImageBackground{
    position: relative;
    height: 280px;
    width: 185px;
    border-radius: 12px;
    background-size:cover;
    margin: 0 10px;
  }

.userStoryImageLogo{
    position: absolute;
    transform: translateY(-272px) translateX(20px);
}
.addStoriesIcon{
    position: absolute;
    transform: translateY(102px) translateX(65px);  
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userImageTextOfStories{
    position: absolute;
    transform: translateY(189px) translateX(-10px);  
    width: 185px;
    background-color: rgba(6, 5, 11,0.6);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
}
.addUserImageTextOfStories{
  position: absolute;
  transform: translateY(163px) translateX(-10px);  
  width: 185px;
  background-color: rgba(6, 5, 11,0.6);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
}

.chatRoomDivUserImageStyle{
height: 85px;
width: 85px;
}
.addUserStoryImageBackground:hover , .UserStoryImageBackground:hover {
background-size: 260%;
transition: background-size 2s;
}